#board {
    border: 0.23em solid black;
    padding: 0;
}

.tile, .pieceImg {
    height: 4em;
    width: 4em;
}

.pieceImg {
    cursor: pointer;
}

.lightBg {
    background-color: tan;
}

.darkBg {
    background-color: brown;
}

.boardRow {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 575px) {
    .tile, .pieceImg {
        height: 2.5em;
        width: 2.5em;
    }
}

@media screen and (max-width: 350px) {
    .tile, .pieceImg {
        height: 2em;
        width: 2em;
    }
}