body {
  background-color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.curved_images {
  border-radius: 10%;
}

.container {
  background-color: white;
}

h1, h5{
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: 7ex;
}

h5 {
  font-size: 2em;
}